Repository caravan-bitcoin/caravan, pull requests merged in 2025-06, with the labels that each got.

#248 Added new test cases for Keys, Paths, and Utils in @caravan/bip32
  packages/bip32/src/__tests__/keys.test.ts
  packages/bip32/src/__tests__/paths.test.ts
  packages/bip32/src/__tests__/utils.test.ts
  packages/bip32/vitest.config.ts
  packages/caravan-bitcoin/src/fixtures.ts
Labels: testing, @caravan/bip32, ready for review

#304 Add PSBT tests to fees-package
  .changeset/serious-buses-reply.md
  packages/caravan-fees/package.json
  packages/caravan-fees/src/btcTransactionComponents.ts
  packages/caravan-fees/src/btcTransactionTemplate.ts
  packages/caravan-fees/src/cpfp.ts
  packages/caravan-fees/src/rbf.ts
  packages/caravan-fees/src/tests/btcTransactionComponents.fixtures.ts
  packages/caravan-fees/src/tests/btcTransactionComponents.test.ts
  packages/caravan-fees/src/tests/cpfp.test.ts
  packages/caravan-fees/src/tests/psbtTestRbf.fixture.ts
  packages/caravan-fees/src/tests/psbtTestRbf.test.ts
  packages/caravan-fees/src/transactionAnalyzer.ts
  packages/caravan-fees/src/types.ts
  packages/caravan-fees/src/utils.ts
Labels: fee-bumping, @caravan/fees, ready for review

#305 Import Partially Signed PSBT works now
  .changeset/long-chicken-lie.md
  apps/coordinator/src/actions/transactionActions.js
  apps/coordinator/src/components/Wallet/TransactionPreview.jsx
  apps/coordinator/src/components/Wallet/WalletSpend.jsx
  apps/coordinator/src/selectors/transaction.ts
  apps/coordinator/src/utils/psbtUtils.ts
Labels: enhancement, @caravan/coordinator, ready for review

#307 Node.js Version Standardization ( also added Husky pre-commit hooks for Node.js version and lockfile validation )
  .husky/_/h
  .husky/_/husky.sh
  .husky/_/pre-commit
  .husky/pre-commit
  README.md
  apps/coordinator/package.json
  package-lock.json
  package.json
  scripts/check-node-versions.js
Labels: dx, ready for review
