Repository caravan-bitcoin/caravan, pull requests merged in 2025-07, with the labels that each got.

#311 Adding of the SWA Slider (Spend Wallet Analysis Slider)
  .changeset/small-weeks-film.md
  apps/coordinator/src/components/Wallet/AddressExpander.jsx
  apps/coordinator/src/components/Wallet/Node.jsx
  apps/coordinator/src/components/Wallet/NodeSet.jsx
  apps/coordinator/src/components/Wallet/TransactionAnalysis/SWASlider.tsx
  apps/coordinator/src/components/Wallet/TransactionAnalysis/index.tsx
  apps/coordinator/src/components/Wallet/TransactionPreview.jsx
  apps/coordinator/src/components/Wallet/WalletSpend.jsx
  apps/coordinator/src/components/Wallet/styles.css
  apps/coordinator/src/selectors/wallet.ts
  packages/caravan-health/src/index.ts
Labels: enhancement, @caravan/coordinator, wallet-health, ready for review

#328 refactor: added dependency injection in decoder tests
  package-lock.json
  package.json
  packages/caravan-wallets/src/bcur2/__tests__/decoder.test.ts
  packages/caravan-wallets/src/bcur2/__tests__/utils.test.ts
  packages/caravan-wallets/src/bcur2/decoder.ts
Labels: @caravan/wallets, testing, qr-code-interactions

#334 Feat/rbf/UI/part1
  apps/coordinator/src/clients/fees.ts
  apps/coordinator/src/components/Wallet/TransactionsTab/FeeBumping/context/FeeBumpContext.tsx
  apps/coordinator/src/components/Wallet/TransactionsTab/FeeBumping/context/feeBumpActions.ts
  apps/coordinator/src/components/Wallet/TransactionsTab/FeeBumping/context/feeBumpReducer.ts
  apps/coordinator/src/components/Wallet/TransactionsTab/FeeBumping/context/hooks.ts
  apps/coordinator/src/components/Wallet/TransactionsTab/FeeBumping/context/index.ts
  apps/coordinator/src/components/Wallet/TransactionsTab/FeeBumping/types.ts
  apps/coordinator/src/components/Wallet/TransactionsTab/FeeBumping/utils.ts
  apps/coordinator/src/selectors/wallet.ts
  packages/caravan-fees/src/btcTransactionTemplate.ts
  packages/caravan-fees/src/tests/btcTransactionTemplate.fixtures.ts
  packages/caravan-fees/src/tests/btcTransactionTemplate.test.ts
  packages/caravan-fees/src/tests/cpfp.fixtures.ts
  packages/caravan-fees/src/tests/psbtTestRbf.fixture.ts
  packages/caravan-fees/src/tests/psbtTestRbf.test.ts
  packages/caravan-fees/src/tests/rbf.fixtures.ts
  packages/caravan-fees/src/transactionAnalyzer.ts
  packages/caravan-fees/src/types.ts
  packages/caravan-fees/src/utils.ts
Labels: fee-bumping, @caravan/fees, ready for review

#312 Add DustChip and ScriptTypeChip display in TransactionAnalysis
  .changeset/great-rings-fold.md
  apps/coordinator/package.json
  apps/coordinator/src/actions/braidActions.js
  apps/coordinator/src/components/FingerprintingAnalysis.tsx
  apps/coordinator/src/components/OutputFingerprintChip.tsx
  apps/coordinator/src/components/ScriptExplorer/DustChip.tsx
  apps/coordinator/src/components/ScriptExplorer/UTXOSet.jsx
  apps/coordinator/src/components/ScriptTypeChip.tsx
  apps/coordinator/src/components/Wallet/AddressExpander.jsx
  apps/coordinator/src/components/Wallet/TransactionPreview.jsx
  apps/coordinator/src/components/Wallet/WalletSpend.jsx
  apps/coordinator/src/hooks/transaction.ts
  apps/coordinator/src/reducers/transactionReducer.js
  apps/coordinator/src/selectors/wallet.ts
  apps/coordinator/src/utils/privacyUtils.ts
  apps/coordinator/src/utils/transactionAnalysisUtils.ts
  packages/caravan-health/src/index.ts
Labels: enhancement, @caravan/coordinator, wallet-health, ready for review

#298 feat: added e2e testing setup with Playwright
  .gitignore
  apps/coordinator/Dockerfile
  apps/coordinator/e2e/.env.example
  apps/coordinator/e2e/README.md
  apps/coordinator/e2e/docker-compose.yml
  apps/coordinator/e2e/nginx.conf
  apps/coordinator/e2e/playwright.config.ts
  apps/coordinator/e2e/testhelpers/clientHelpers.ts
  apps/coordinator/e2e/tests/caravan_test.spec.ts
  apps/coordinator/e2e/utils/bitcoinClient.ts
  apps/coordinator/e2e/utils/bitcoinServices.ts
  apps/coordinator/e2e/utils/globalSetup.ts
  apps/coordinator/e2e/utils/globalTeardown.ts
  apps/coordinator/e2e/utils/testFixtures.ts
  apps/coordinator/e2e/utils/types.ts
  apps/coordinator/jest.config.ts
  apps/coordinator/package.json
  apps/coordinator/test-results/.last-run.json
  package-lock.json
  package.json
  turbo.json
Labels: testing, dx, ready for review

#340 Add Full Transaction History Support in Caravan-Client Package
  .changeset/slow-vans-love.md
  packages/caravan-clients/src/client.test.ts
  packages/caravan-clients/src/client.ts
  packages/caravan-clients/src/types.ts
  packages/caravan-clients/src/wallet.ts
Labels: @caravan/clients, ready for review

#348 Feat/rbf/UI/part3
  .changeset/sweet-apricots-sniff.md
  apps/coordinator/src/actions/transactionActions.js
  apps/coordinator/src/clients/transactions.ts
  apps/coordinator/src/components/Hermit/HermitSignatureImporter.tsx
  apps/coordinator/src/components/ScriptExplorer/SignatureImporter.jsx
  apps/coordinator/src/components/ScriptExplorer/Transaction.jsx
  apps/coordinator/src/components/Wallet/PSBTImportComponent.tsx
  apps/coordinator/src/components/Wallet/TransactionPreview.jsx
  apps/coordinator/src/components/Wallet/WalletSpend.jsx
  apps/coordinator/src/hooks/utxos.ts
  apps/coordinator/src/selectors/transaction.ts
  apps/coordinator/src/selectors/wallet.ts
  apps/coordinator/src/utils/psbtUtils.ts
  apps/coordinator/src/utils/uxtoReconstruction.ts
Labels: @caravan/coordinator, fee-bumping, ready for review
